.container {
    width: 1210px;
    margin: 0 auto;
}

body {
    font-family: $font-1;
    line-height: 30px;
    color: $cor-texto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.botao {
    background-color: $cor-hover-btn;
    color: $white;
    padding: 18px 78px;
    font-weight: 700;
    border-radius: 10px;
    position: relative;
}

.botao-cards {
    background-color: $white;
    color: $cor-hover-btn;
    padding: 13px 63px;
    font-weight: 700;
    border: 2px solid $cor-hover-btn;
    border-radius: 50px;
    font-size: 16px;
    transition: all .3s; 
    position: relative; 
    
    &:hover {
        background-color: $cor-hover-btn;
        color: $white;

        &::before {
            content: url(../../assets/images/section4/sombra.png);
            position: absolute;
            top: -100%;
            left: -15%;

        }
    }
}


