.container {
    width: 1210px;
    margin: 0 auto;

    @media (max-width: 600px) {
        width: 90vw;
    }

    @media (max-width: 900px) and (min-width: 600px) {
        width: 90vw;
    }

    @media (max-width: 1210px) and (min-width: 900px) {    
        width: 90vw;
    }
}

body {
    font-family: $font-1;
    line-height: 30px;
    color: $cor-texto;
    scroll-behavior: smooth;
}

.box-shadow {
    box-shadow: 1px 14px 20px #0000000f;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {    
        flex-direction: column;
        align-items: flex-start;
    }

    @media (max-width: 900px) and (min-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }

    @media (max-width: 1210px) and (min-width: 900px) {    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.botao-p {
    background-color: $white;
    color: $cor-hover-btn;
    padding: 13px 63px;
    font-weight: 700;
    border: 2px solid $cor-hover-btn;
    border-radius: 50px;
    font-size: 16px;
    transition: all .25s ease-in-out;
    
    &:active {
        transform: translateY(2px);
    }
}

.botao-efeito:hover {
        background-color: $cor-hover-btn;
        box-shadow: 0px 14px 52px rgba(244, 59, 61, 0.4);
        color: $white;
        transition: all .25s ease-in-out;
}

.botao-g {
    padding: 17px 78px;
    font-weight: 700;
    border: 1px solid $cor-hover-btn;
    color: $cor-hover-btn;
    border-radius: 10px;
    line-height: 25px;
    transition: all .25s ease-in-out;

    &:active {
        transform: translateY(2px);
    }

    @media (max-width: 600px) {
        padding: 13px 50px;
        align-self: flex-end;
    }
    
    @media (max-width: 900px) and (min-width: 600px) {
        padding: 13px 50px;
        align-self: flex-end;
    }

    @media (max-width: 1210px) and (min-width: 900px) {    
        padding: 13px 50px;
        align-self: flex-start;
    } 
}