$font-1:"Rubik", sans-serif;

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
    font-weight: 500;
    color: $cor-titulo;
}

.fs-25 {
    font-size: 25px;
    font-weight: 700;
}

.fs-35 {
    font-size: 35px;
    font-weight: 500;
    color: $cor-titulo;
    line-height: 50px;
}

.fs-50 {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    color: $cor-titulo;
}
