.fs-14 {
  font-size: 14px;
}
@media (max-width: 600px) {
  .fs-14 {
    font-size: 12px;
  }
}

.fs-16 {
  font-size: 16px;
}
@media (max-width: 600px) {
  .fs-16 {
    font-size: 14px;
  }
}

.fs-18 {
  font-size: 18px;
  font-weight: 500;
  color: #0B132A;
}
@media (max-width: 600px) {
  .fs-18 {
    font-size: 16px;
  }
}

.fs-20 {
  font-size: 20px;
}
@media (max-width: 600px) {
  .fs-20 {
    font-size: 18px;
  }
}

.fs-25 {
  font-size: 25px;
  font-weight: 700;
}
@media (max-width: 600px) {
  .fs-25 {
    font-size: 22px;
  }
}

.fs-35 {
  font-size: 35px;
  font-weight: 500;
  color: #0B132A;
  line-height: 50px;
}
@media (max-width: 600px) {
  .fs-35 {
    font-size: 28px;
    line-height: 40px;
  }
}

.fs-50 {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: #0B132A;
}
@media (max-width: 600px) {
  .fs-50 {
    font-size: 42px;
    line-height: 55px;
  }
}

.container {
  width: 1210px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 90vw;
  }
}
@media (max-width: 900px) and (min-width: 600px) {
  .container {
    width: 90vw;
  }
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: #4F5665;
  scroll-behavior: smooth;
}

.box-shadow {
  box-shadow: 1px 14px 20px rgba(0, 0, 0, 0.0588235294);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .flex {
    flex-direction: column;
    align-items: flex-start;
  }
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.botao-p {
  background-color: #ffffff;
  color: #F53838;
  padding: 13px 63px;
  font-weight: 700;
  border: 2px solid #F53838;
  border-radius: 50px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
.botao-p:active {
  transform: translateY(2px);
}

.botao-efeito:hover {
  background-color: #F53838;
  box-shadow: 0px 14px 52px rgba(244, 59, 61, 0.4);
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}

.botao-g {
  padding: 17px 78px;
  font-weight: 700;
  border: 1px solid #F53838;
  color: #F53838;
  border-radius: 10px;
  line-height: 25px;
  transition: all 0.25s ease-in-out;
}
.botao-g:active {
  transform: translateY(2px);
}
@media (max-width: 600px) {
  .botao-g {
    padding: 13px 50px;
    align-self: flex-end;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.06);
}
header nav {
  padding: 25px 0;
}
@media (max-width: 600px) {
  header nav {
    padding: 15px 0 5px;
    align-items: center;
  }
}
header nav .fs-16 {
  padding: 30px 25px;
  transition: all 0.2s;
  color: #4F5665;
}
header nav .fs-16:hover {
  color: #F53838;
}
header nav .sign-in {
  padding: 14px 49px;
  font-weight: 500;
  color: #0B132A;
  border-radius: 50px;
}
header nav .botao-p {
  padding: 13px 45px;
  font-weight: 500;
  border: 1px solid #F53838;
}
header nav .cabecalho-mobile {
  display: none;
}
@media (max-width: 600px) {
  header nav {
    flex-direction: row !important;
    justify-content: space-between;
  }
  header nav .cabecalho-mobile {
    display: block;
  }
  header nav .cabecalho-descktop {
    display: none;
  }
}

.banner {
  gap: 40px;
  padding: 200px 0 100px 0;
}
@media (max-width: 600px) {
  .banner {
    gap: 50px;
    padding: 150px 0 80px 0;
  }
}
.banner article {
  flex: 1;
}
.banner article .fs-50 {
  margin-bottom: 20px;
}
.banner article .fs-50 strong {
  font-weight: 700;
}
.banner article .texto {
  line-height: 30px;
}
.banner article .texto strong {
  font-weight: 500;
}
.banner article .botao-g {
  margin-top: 50px;
  width: -moz-max-content;
  width: max-content;
}
.banner figure {
  flex: 1;
}
.banner figure img {
  max-width: 100%;
}

.numeros {
  padding: 37px 30px;
}
@media (max-width: 600px) {
  .numeros {
    margin-bottom: 100px;
    padding: 0 10%;
  }
}
.numeros .numeros-item {
  gap: 37px;
  width: 100%;
  padding: 30px;
  justify-content: center;
  transition: all 0.3s;
}
@media (max-width: 600px) {
  .numeros .numeros-item {
    flex-direction: row;
    padding: 15%;
    justify-content: flex-start;
  }
}
.numeros .numeros-item:hover {
  transform: scale(1.01);
  box-shadow: 0px 12px 50px 3px rgba(204, 204, 204, 0.1411764706);
}
.numeros .numeros-item span {
  color: #0B132A;
}
.numeros .numeros-item:nth-child(3n+2) {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}
@media (max-width: 600px) {
  .numeros .numeros-item:nth-child(3n+2) {
    border-left: none;
    border-right: none;
    border-top: 2px solid #EEEFF2;
    border-bottom: 2px solid #EEEFF2;
  }
}

.recursos {
  gap: 170px;
  margin: 50px auto 120px auto;
  align-items: flex-end;
}
@media (max-width: 600px) {
  .recursos {
    gap: 70px;
  }
}
.recursos figure {
  flex: 1;
}
.recursos figure img {
  max-width: 100%;
}
.recursos article {
  flex: 1;
  padding: 0 85px;
}
@media (max-width: 600px) {
  .recursos article {
    padding: 0;
  }
}
.recursos article .fs-16 {
  padding: 20px 0;
}
.recursos article .fs-14 .flex {
  justify-content: flex-start;
  gap: 10px;
  margin-top: 12px;
}
@media (max-width: 600px) {
  .recursos article .fs-14 .flex {
    flex-direction: row;
  }
}

.planos {
  padding: 80px 0;
  background-image: linear-gradient(to top, rgba(248, 248, 248, 0), #F8F8F8);
}
.planos .flex-c {
  text-align: center;
}
.planos .flex-c .fs-16 {
  padding: 0 320px 60px;
  color: #0B132A;
}
@media (max-width: 600px) {
  .planos .flex-c .fs-16 {
    padding: 0 0 30px;
  }
}
.planos .flex {
  align-items: stretch;
  gap: 50px;
  padding: 0 50px;
}
@media (max-width: 600px) {
  .planos .flex {
    flex-direction: row;
    overflow: auto;
    padding: 0;
  }
  .planos .flex::-webkit-scrollbar {
    background-color: rgba(245, 56, 56, 0.1294117647);
    width: 15px;
    height: 15px;
    border-radius: 50px;
  }
  .planos .flex::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 50px;
  }
}
.planos .flex .planos-quadro {
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 80px 70px 50px 70px;
  min-width: 330px;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 600px) {
  .planos .flex .planos-quadro {
    padding: 20px;
    width: 350px;
    min-width: 250px;
    margin: 30px 0;
  }
}
.planos .flex .planos-quadro:hover {
  border-color: #F53838;
  transform: translateY(-5px);
  box-shadow: 1px 14px 20px rgba(245, 56, 56, 0.2196078431);
}
.planos .flex .planos-quadro .fs-18 {
  margin: 30px 0;
  color: #0B132A;
}
.planos .flex .planos-quadro .fs-14 {
  margin-bottom: 45px;
}
.planos .flex .planos-quadro .fs-14 .check {
  margin: 10px 0;
  position: relative;
  padding-left: 30px;
  text-align: left;
}
.planos .flex .planos-quadro .fs-14 .check::before {
  content: url(../images/section4/check.png);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-45%);
}
.planos .flex .planos-quadro .fs-25 {
  font-weight: 500;
  color: #0B132A;
}
.planos .flex .planos-quadro .fs-25 span {
  font-weight: 400;
  color: #4F5665;
}
.planos .flex-c {
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .maps {
    display: none;
  }
}
.maps article {
  text-align: center;
}
.maps article .fs-35 {
  padding: 70px 410px 0px 410px;
}
.maps article .fs-16 {
  padding: 20px 340px 155px 340px;
}
.maps article strong {
  font-weight: 500;
}
.maps article figure img {
  max-width: 100%;
  width: 100%;
}
.maps .flex {
  margin: 50px 0;
  flex-wrap: wrap;
  gap: 60px;
}
.maps .flex img {
  transition: all 0.25s ease-in-out;
  max-width: 100%;
}
.maps .flex img:hover {
  transform: scale(1.1);
}

.testemunhal {
  padding-bottom: 135px;
}
.testemunhal article {
  text-align: center;
}
.testemunhal article .subtitulo {
  padding: 50px 375px 0px 375px;
}
@media (max-width: 600px) {
  .testemunhal article .subtitulo {
    padding: 10px 0;
  }
}
.testemunhal article .texto {
  padding: 20px 340px 60px 340px;
}
@media (max-width: 600px) {
  .testemunhal article .texto {
    padding: 10px 0 30px;
  }
}
.testemunhal .cards-scrool {
  gap: 50px;
  align-items: stretch;
  padding: 10px 0 20px;
  overflow: auto;
}
@media (max-width: 600px) {
  .testemunhal .cards-scrool {
    flex-direction: row;
  }
}
.testemunhal .cards-scrool::-webkit-scrollbar {
  background-color: rgba(245, 56, 56, 0.1294117647);
  width: 15px;
  height: 15px;
  border-radius: 50px;
}
.testemunhal .cards-scrool::-webkit-scrollbar-thumb {
  background-color: #F53838;
  border-radius: 50px;
}
.testemunhal .cards-scrool .testemunhal-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  flex: 1;
  padding: 30px;
  text-align: left;
  width: 400px;
  min-width: 400px;
  height: 230px;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 600px) {
  .testemunhal .cards-scrool .testemunhal-card {
    width: 350px;
    min-width: 300px;
    height: auto;
  }
}
.testemunhal .cards-scrool .testemunhal-card:hover {
  border-color: #F53838;
  transform: translateY(-5px);
  box-shadow: 1px 14px 20px rgba(245, 56, 56, 0.2196078431);
}
@media (max-width: 600px) {
  .testemunhal .cards-scrool .testemunhal-card .card-titulo {
    flex-direction: row;
  }
}
.testemunhal .cards-scrool .testemunhal-card .card-titulo .flex {
  flex-direction: row;
  gap: 20px;
}
.testemunhal .cards-scrool .testemunhal-card .card-titulo .flex .fs-14 {
  line-height: 23px;
}
@media (max-width: 600px) {
  .testemunhal .cards-scrool .testemunhal-card .card-titulo .flex {
    display: flex;
    flex-direction: row;
  }
}
.testemunhal .cards-scrool .testemunhal-card .card-titulo .nota::after {
  content: url(../images/section6/estrela.png);
  padding-left: 8px;
}
.testemunhal .cards-scrool .testemunhal-card .fs-16 {
  color: #0B132A;
  margin-top: 10px;
}

.newsletter {
  background-color: #ffffff;
  padding: 58px 70px;
  border-radius: 10px;
  position: relative;
  margin-bottom: -117px;
  height: 233px;
}
@media (max-width: 600px) {
  .newsletter {
    padding: 20px;
    margin-bottom: -150px;
    height: 300px;
  }
}
.newsletter .fs-35 {
  padding-bottom: 10px;
}
.newsletter .botao-g {
  padding: 18px 65px;
}
@media (max-width: 600px) {
  .newsletter .botao-g {
    padding: 13px 40px;
  }
}

footer {
  background-color: #F8F8F8;
  padding: 200px 0 100px 0;
}
@media (max-width: 600px) {
  footer {
    padding: 200px 0 5px;
  }
}
footer .mr-mobile {
  display: block;
}
footer .mr-mobile {
  margin-top: 50px;
  align-self: center;
}
@media (max-width: 600px) {
  footer article .redes-sociais {
    margin-top: 60px;
  }
}
footer article .redes-sociais .texto {
  margin: 20px 0 30px;
}
footer article .redes-sociais .texto strong {
  font-weight: 500;
}
footer article .redes-sociais .mr {
  color: #AFB5C0;
}
footer article .redes-sociais .mr span {
  font-weight: 500;
}
@media (max-width: 600px) {
  footer article .redes-sociais .mr {
    display: none;
  }
}
footer article .nav-links {
  gap: 130px;
  align-items: flex-start;
}
@media (max-width: 600px) {
  footer article .nav-links {
    gap: 60px;
    margin-top: 30px;
  }
}
footer article .nav-links .fs-18 {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  footer article .nav-links .fs-18 {
    margin-bottom: 10px;
  }
}
footer article .nav-links li {
  padding: 5px;
}
footer article .nav-links li a {
  font-size: 16px;
  color: #4F5665;
  padding: 20px 0;
}
footer article .nav-links li a:hover {
  color: #F53838;
}/*# sourceMappingURL=style.css.map */