.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
  font-weight: 500;
  color: #0B132A;
}

.fs-25 {
  font-size: 25px;
  font-weight: 700;
}

.fs-35 {
  font-size: 35px;
  font-weight: 500;
  color: #0B132A;
  line-height: 50px;
}

.fs-50 {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: #0B132A;
}

.container {
  width: 1210px;
  margin: 0 auto;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: #4F5665;
  scroll-behavior: smooth;
}

.box-shadow {
  box-shadow: 1px 14px 20px rgba(0, 0, 0, 0.0588235294);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.botao-p {
  background-color: #ffffff;
  color: #F53838;
  padding: 13px 63px;
  font-weight: 700;
  border: 2px solid #F53838;
  border-radius: 50px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.botao-p:active {
  transform: translateY(2px);
}

.botao-efeito:hover {
  background-color: #F53838;
  box-shadow: 0px 14px 52px rgba(244, 59, 61, 0.4);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.botao-g {
  padding: 17px 78px;
  font-weight: 700;
  border: 1px solid #F53838;
  color: #F53838;
  border-radius: 10px;
  line-height: 25px;
  transition: all 0.2s ease-in-out;
}
.botao-g:active {
  transform: translateY(2px);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.06);
}
header nav {
  padding: 25px 0;
}
header nav .fs-16 {
  padding: 30px 25px;
  transition: all 0.2s;
  color: #4F5665;
}
header nav .fs-16:hover {
  color: #F53838;
}
header nav .sign-in {
  padding: 14px 49px;
  font-weight: 500;
  color: #0B132A;
  border-radius: 50px;
}
header nav .botao-p {
  padding: 13px 45px;
  font-weight: 500;
  border: 1px solid #F53838;
}

.banner {
  gap: 40px;
  padding: 200px 0 100px 0;
}
.banner article {
  flex: 1;
}
.banner article .fs-50 {
  margin-bottom: 20px;
}
.banner article .fs-50 strong {
  font-weight: 700;
}
.banner article .texto {
  line-height: 30px;
  padding-bottom: 50px;
}
.banner article .texto strong {
  font-weight: 500;
}
.banner article .botao {
  margin-top: 50px;
}
.banner figure {
  flex: 1;
}
.banner figure img {
  max-width: 100%;
}

.numeros {
  padding: 37px 30px;
}
.numeros .numeros-item {
  gap: 37px;
  width: 100%;
  padding: 30px;
  justify-content: center;
  transition: all 0.3s;
}
.numeros .numeros-item:hover {
  transform: scale(1.01);
  box-shadow: 0px 12px 50px 3px rgba(204, 204, 204, 0.1411764706);
}
.numeros .numeros-item span {
  color: #0B132A;
}
.numeros .numeros-item:nth-child(3n+2) {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}

.recursos {
  gap: 170px;
  margin: 50px auto 120px auto;
  align-items: flex-end;
}
.recursos figure {
  flex: 1;
}
.recursos article {
  flex: 1;
  padding: 0 85px;
}
.recursos article .fs-16 {
  padding: 20px 0;
}
.recursos article .fs-14 .flex {
  justify-content: flex-start;
  gap: 10px;
  margin-top: 12px;
}

.planos {
  padding: 80px 0;
  background-image: linear-gradient(to top, rgba(248, 248, 248, 0), #F8F8F8);
}
.planos .flex-c {
  text-align: center;
}
.planos .flex-c .fs-16 {
  padding: 0 320px 60px;
  color: #0B132A;
}
.planos .flex {
  align-items: stretch;
  gap: 50px;
  padding: 0 50px;
}
.planos .flex .planos-quadro {
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  padding: 80px 70px 50px 70px;
  min-width: 330px;
}
.planos .flex .planos-quadro:hover {
  border-color: #F53838;
  transform: translateY(-5px);
  box-shadow: 1px 14px 20px rgba(245, 56, 56, 0.2196078431);
}
.planos .flex .planos-quadro .fs-18 {
  margin: 30px 0;
  color: #0B132A;
}
.planos .flex .planos-quadro .fs-14 {
  margin-bottom: 45px;
}
.planos .flex .planos-quadro .fs-14 .check {
  margin: 10px 0;
  position: relative;
  padding-left: 30px;
  text-align: left;
}
.planos .flex .planos-quadro .fs-14 .check::before {
  content: url(../images/section4/check.png);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-45%);
}
.planos .flex .planos-quadro .fs-25 {
  font-weight: 500;
  color: #0B132A;
}
.planos .flex .planos-quadro .fs-25 span {
  font-weight: 400;
  color: #4F5665;
}
.planos .flex-c {
  gap: 20px;
  justify-content: space-between;
}

.maps article {
  text-align: center;
}
.maps article .fs-35 {
  padding: 70px 410px 0px 410px;
}
.maps article .fs-16 {
  padding: 20px 340px 155px 340px;
}
.maps article strong {
  font-weight: 500;
}
.maps article img {
  width: 100%;
}
.maps img {
  max-width: 100%;
}
.maps .flex {
  margin: 50px 0;
}

.testemunhal {
  padding-bottom: 135px;
}
.testemunhal article {
  text-align: center;
}
.testemunhal article .subtitulo {
  padding: 50px 375px 0px 375px;
}
.testemunhal article .texto {
  padding: 20px 340px 60px 340px;
}
.testemunhal .cards-scrool {
  gap: 50px;
  align-items: stretch;
  overflow: auto;
  padding-bottom: 20px;
}
.testemunhal .cards-scrool .testemunhal-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: all 0.3s;
  flex: 1;
  padding: 30px;
  text-align: left;
  width: 400px;
  min-width: 400px;
  height: 230px;
}
.testemunhal .cards-scrool .testemunhal-card:hover {
  border-color: #F53838;
}
.testemunhal .cards-scrool .testemunhal-card .card-titulo .flex {
  gap: 20px;
}
.testemunhal .cards-scrool .testemunhal-card .card-titulo .flex .fs-14 {
  line-height: 23px;
}
.testemunhal .cards-scrool .testemunhal-card .card-titulo .nota::after {
  content: url(../../assets/images/section6/estrela.png);
  padding-left: 8px;
}
.testemunhal .cards-scrool .testemunhal-card .fs-16 {
  color: #0B132A;
  margin-top: 10px;
}

main .newsletter {
  background-color: #ffffff;
  padding: 60px 70px;
  border-radius: 10px;
  position: relative;
  margin-bottom: -120px;
}
main .newsletter .fs-35 {
  line-height: 45px;
}
main .newsletter button {
  padding: 18px 65px;
}
main .newsletter button::before {
  top: -70%;
  z-index: 1;
}

footer {
  background-color: #F8F8F8;
  padding: 180px 0 100px 0;
}
footer article .redes-sociais {
  flex: 2;
}
footer article .redes-sociais .texto {
  margin: 20px 0 30px;
}
footer article .redes-sociais .texto strong {
  font-weight: 500;
}
footer article .redes-sociais .mr {
  color: #AFB5C0;
}
footer article .redes-sociais .mr span {
  font-weight: 500;
}
footer article nav {
  flex: 1;
}
footer article nav .fs-18 {
  margin-bottom: 20px;
}
footer article nav a {
  font-size: 16px;
  color: #4F5665;
  padding: 10px 0;
}
footer .flex {
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */