.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
  font-weight: 500;
  color: #0B132A;
}

.fs-25 {
  font-size: 25px;
  font-weight: 700;
}

.fs-35 {
  font-size: 35px;
  font-weight: 500;
  color: #0B132A;
  line-height: 50px;
}

.fs-50 {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: #0B132A;
}

.container {
  width: 1210px;
  margin: 0 auto;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: #4F5665;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.botao {
  background-color: #F53838;
  color: #ffffff;
  padding: 18px 78px;
  font-weight: 700;
  border-radius: 10px;
  position: relative;
}

.botao-cards {
  background-color: #ffffff;
  color: #F53838;
  padding: 13px 63px;
  font-weight: 700;
  border: 2px solid #F53838;
  border-radius: 50px;
  font-size: 16px;
  transition: all 0.3s;
  position: relative;
}
.botao-cards:hover {
  background-color: #F53838;
  color: #ffffff;
}
.botao-cards:hover::before {
  content: url(../../assets/images/section4/sombra.png);
  position: absolute;
  top: -100%;
  left: -15%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header nav {
  padding: 25px 0;
}
header nav .fs-16 {
  padding: 37px 25px;
  transition: all 0.2s;
}
header nav .fs-16:hover {
  background-color: rgba(79, 86, 101, 0.31);
  color: white;
  border-radius: 3px;
}
header nav .login {
  padding: 13px 45px;
  font-weight: 500;
  transition: all 0.2s;
  border: 1px solid transparent;
}
header nav .login:hover {
  color: #F53838;
  border: 1px solid #F53838;
  border-radius: 50px;
}

.banner {
  gap: 40px;
}
.banner article {
  flex: 1;
  margin: 180px 0;
}
.banner article .fs-50 {
  margin-bottom: 20px;
}
.banner article .fs-50 strong {
  font-weight: 700;
}
.banner article .fs-16 {
  line-height: 30px;
}
.banner article .fs-16 strong {
  font-weight: 500;
}
.banner article .botao {
  margin-top: 50px;
}
.banner article .botao::before {
  content: url(../../assets/images/section1/sombra.png);
  position: absolute;
  top: -50%;
  left: -15%;
  z-index: -1;
}
.banner figure {
  flex: 1;
}
.banner figure img {
  max-width: 100%;
}

.numeros {
  padding: 67px 90px;
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
}
.numeros .flex {
  gap: 37px;
}
.numeros .flex span {
  color: #0B132A;
}
.numeros .flex p {
  margin-top: 5px;
}

.banner2 {
  gap: 170px;
  margin-top: 50px;
  align-items: flex-end;
}
.banner2 figure {
  flex: 1;
}
.banner2 article {
  flex: 1;
  padding-right: 170px;
}
.banner2 article .fs-16 {
  padding: 20px 0;
}
.banner2 article .fs-14 .flex {
  justify-content: flex-start;
  gap: 10px;
  margin-top: 12px;
}

.cards {
  margin: 100px 0;
  background-image: linear-gradient(to top, rgba(248, 248, 248, 0), #F8F8F8);
}
.cards .flex-c {
  text-align: center;
}
.cards .flex-c .fs-16 {
  padding: 15px 320px 60px;
  color: #0B132A;
}
.cards .flex {
  align-items: stretch;
  gap: 50px;
}
.cards .flex .cards-quadro {
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  transition: all 0.2s;
  padding: 80px 70px 50px 70px;
  min-width: 330px;
}
.cards .flex .cards-quadro:hover {
  border-color: #F53838;
}
.cards .flex .cards-quadro .fs-18 {
  margin: 30px 0;
  color: #0B132A;
}
.cards .flex .cards-quadro .fs-14 {
  position: relative;
  margin: 0 0 45px 32px;
  text-align: left;
}
.cards .flex .cards-quadro .fs-14 .check {
  margin: 10px 0;
}
.cards .flex .cards-quadro .fs-14 .check::after {
  content: url(../../assets/images/section4/check.png);
  position: absolute;
  left: -40px;
}
.cards .flex .cards-quadro .fs-25 {
  font-weight: 500;
}
.cards .flex .cards-quadro .fs-25 span {
  font-weight: 400;
}
.cards .flex-c {
  gap: 20px;
  justify-content: space-between;
}

.maps article {
  text-align: center;
}
.maps article .fs-35 {
  padding: 50px 375px 0px 375px;
}
.maps article .fs-16 {
  padding: 20px 340px 155px 340px;
}
.maps article strong {
  font-weight: 500;
}
.maps img {
  max-width: 100%;
}
.maps .flex {
  margin: 50px 0;
}

.testemunhal {
  margin-bottom: 300px;
}
.testemunhal article {
  text-align: center;
}
.testemunhal article .subtitulo {
  padding: 50px 375px 0px 375px;
}
.testemunhal article .texto {
  padding: 20px 340px 155px 340px;
}
.testemunhal .cards-scrool {
  gap: 50px;
  align-items: stretch;
  overflow: auto;
  padding-bottom: 20px;
}
.testemunhal .cards-scrool .testemunhal-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: all 0.3s;
  flex: 1;
  padding: 30px;
  text-align: left;
  width: 400px;
  min-width: 400px;
  height: 230px;
}
.testemunhal .cards-scrool .testemunhal-card:hover {
  border-color: #F53838;
}
.testemunhal .cards-scrool .testemunhal-card .card-titulo .flex {
  gap: 20px;
}
.testemunhal .cards-scrool .testemunhal-card .card-titulo .nota::after {
  content: url(../../assets/images/section6/estrela.png);
  padding-left: 8px;
}
.testemunhal .cards-scrool .testemunhal-card .fs-16 {
  color: #0B132A;
  margin-top: 10px;
}

.newsletter {
  width: 1140px;
  background-color: green;
  margin: 0 auto;
  padding: 58px 70px;
  border-radius: 10px;
  position: relative;
}
.newsletter article {
  padding-right: 10;
}
.newsletter button {
  padding: 18px 65px;
}

footer {
  background-color: #F8F8F8;
  padding: 180px 0 100px 0;
}
footer article {
  align-items: flex-start;
}
footer article .redes-sociais {
  flex: 2;
}
footer article .redes-sociais .texto {
  margin: 20px 0 30px;
}
footer article .redes-sociais .texto strong {
  font-weight: 500;
}
footer article .redes-sociais .mr {
  color: #AFB5C0;
}
footer article .redes-sociais .mr span {
  font-weight: 500;
}
footer article nav {
  flex: 1;
}
footer article nav a {
  font-size: 16px;
  color: #4F5665;
}/*# sourceMappingURL=style.css.map */