@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



$font-principal: "Rubik", sans-serif;
$font-secundaria: "Rubik Lines", system-ui;
$cor-principal: #F53838;

body {
    font-family: $font-secundaria;
    background-color: $cor-principal;
}

  