.banner {
    gap: 40px;
    padding: 200px 0 100px 0;

    @media (max-width: 600px) {
        gap: 50px;
        padding: 150px 0 80px 0;
    }

    article {
        flex: 1;
        
        .fs-50 {
            margin-bottom: 20px;
    
            strong {
                font-weight: 700;
            }
        }
    
        .texto {
            line-height: 30px;

            strong {
                font-weight: 500;
            }
        }
        
        .botao-g {
            margin-top: 50px;
            width: max-content;
        }
    }

    figure {
        flex: 1;

        img {
            max-width: 100%;
        }
    }
}