.banner {
    gap: 40px;
    padding: 200px 0 100px 0;

    @media (max-width: 600px) {
        gap: 90px;
        padding: 150px 0 80px 0;
    }

    @media (max-width: 900px) and (min-width: 600px) {
        gap: 50px;
        padding: 150px 0 80px 0;
    } 

    @media (max-width: 1210px) and (min-width: 900px) {    
        gap: 40px;
        padding: 200px 0 100px 0;
    }

    article {
        flex: 1;

        @media (max-width: 900px) and (min-width: 600px) {
            gap: 20px;
        }
        
        .fs-50 {
            margin-bottom: 20px;

            @media (max-width: 900px) and (min-width: 600px) {
                max-width: 600px;
            }
    
            strong {
                font-weight: 700;
            }
        }
    
        .texto {
            line-height: 30px;

            strong {
                font-weight: 500;
            }

            @media (max-width: 900px) and (min-width: 600px) {
                max-width: 500px;
            }
        }
        
        .botao-g {
            margin-top: 50px;
        }
    }

    figure {
        flex: 1;

        @media (max-width: 900px) and (min-width: 600px) {
            align-self: center;
            margin-top: 40px;
        } 

        img {
            max-width: 100%;
        }
    }
}