footer {
    background-color: $cor-footer;
    padding: 200px 0 100px 0;

    .mr-mobile {
        display: none;
    }

    @media (max-width: 600px) {
        padding: 200px 0 5px;

        .mr-mobile {
            display: block;
            margin-top: 50px;
            align-self: center;
        }
    }

    article {  

        .redes-sociais {

            @media (max-width: 600px) {
                margin-top: 60px;
            }
    
            .texto {
                margin: 20px 0 30px ;
    
                strong {
                    font-weight: 500;
                }
            }
    
            .mr {
                color: $cor-mr;
    
                span {
                    font-weight: 500;
                }

                @media (max-width: 600px) {
                    display: none;
                }

                @media (max-width: 900px) and (min-width: 600px) {
                    display: none;
                }
            }
        }

        .nav-links {
            gap: 130px;
            align-items: flex-start;

            @media (max-width: 600px) {
                gap: 60px;
                margin-top: 30px;
            }

            @media (max-width: 900px) and (min-width: 600px) {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .fs-18 {
                margin-bottom: 20px;

                @media (max-width: 600px) {
                    margin-bottom: 10px;
                }
            }

            li {
                padding: 5px;
                
                a {
                    font-size: 16px;
                    color: $cor-texto;
                    padding: 20px 0;
    
                    &:hover {
                        color: $cor-hover-btn;
                    }
                }
            }  
        }
    } 
}