header {

    nav {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .fs-16 {
            padding: 20px 25px;
            color: $cor-texto;
            transition: all .2s;

            &:hover {
                background-color: $cor-link-hover;
                color: white;
                border-radius: 3px;
            }
        }

        .login {
            padding: 13px 22px;
            color: $cor-titulo;
            font-weight: 500;
            transition: all .2s;
            border: 1px solid transparent;
            

            &:hover {
                color: $cor-hover-btn;
                border: 1px solid $cor-hover-btn;
                border-radius: 50px;
            }
        }
    }

}



// header {
//     background-color: yellow;
//     nav {
//         background-color: blue;
//         @include flex (flex-start, space-between, row);
//         a {
//             color: $cor;

//             &.teste {
//                 color: yellow;
                
//                 &:hover {
//                     color: #fff;
//                 }
//             }
//         }
//     }
//     @include mobile {
//         nav {
//             background-color: gray;
//         }
//     }

//     @include tablet {
//         nav {
//             background-color: red;
//         }
//     }
// }