header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    z-index: 99;
    box-shadow: 2px 8px 20px 0px rgb(0 0 0 / 6%);
    
    nav {
        padding: 25px 0;

        @media (max-width: 600px) {
            padding: 15px 0 5px;
            align-items: center
        }
     
        .fs-16 {
            padding: 30px 25px;
            transition: all .2s;
            color: $cor-texto;

            &:hover {
                color: $cor-hover-btn;
            }
        }

        .sign-in {
            padding: 14px 49px;
            font-weight: 500;
            color: $cor-titulo;
            border-radius: 50px;
        }

        .botao-p {
            padding: 13px 45px;
            font-weight: 500;
            border: 1px solid $cor-hover-btn;
        }

        .cabecalho-mobile {
            display: none;
        }
    }

    @media (max-width: 600px) {
        nav {
            flex-direction: row !important; 
            justify-content: space-between;
             
            .cabecalho-mobile {
                display: block;
            }

            .cabecalho-descktop {
                display: none;
            } 
        }
    }   
}

