.maps {
    article {
        text-align: center;

        .fs-35 {
            padding: 50px 375px 0px 375px;
        }

        .fs-16 {
            padding: 20px 340px 155px 340px;
        }
            strong {
        font-weight: 500;
        }
    }

    img {
        max-width: 100%;
    }

    .flex {
        margin: 50px 0;
    }
   
}