.newsletter {
    width: 1140px;
    background-color: green;
    margin: 0 auto;
    padding: 58px 70px;
    border-radius: 10px;
    position: relative;

    article {
        padding-right: 10;
    }

    button {
        padding: 18px 65px;
    }
}