.newsletter {
    background-color: $white;
    padding: 58px 70px;
    border-radius: 10px;
    position: relative;
    margin-bottom: -117px;
    height: 233px;

    @media (max-width: 600px) {
        padding: 20px;
        margin-bottom: -125px;
        height: 250px;
    }

    @media (max-width: 900px) and (min-width: 600px) {
        padding: 25px;
        margin-bottom: -125px;
        height: 290px;
    }

    @media (max-width: 1210px) and (min-width: 900px) {    
        padding: 40px;
        margin-bottom: -145px;
        height: 250px;
        text-align: center;
    }

    .fs-35 {
        padding-bottom: 10px;
    }

    .botao-g {
        padding: 18px 65px;

        @media (max-width: 600px) {
            padding: 13px 40px;
        }

        @media (max-width: 1210px) and (min-width: 900px) {    
            align-self: center;
        }
    }
}