.numeros {
    padding: 37px 0;

    @media (max-width: 600px) {
        margin-bottom: 100px;
        padding: 0 10%;
        justify-content: center;
    }

    @media (max-width: 900px) and (min-width: 600px) {
        flex-direction: row;
        padding: 5% 0;
    }
   
    .numeros-item {
        gap: 37px;
        width: 100%;
        padding: 30px;
        justify-content: center;
        transition: all .3s;

        @media (max-width: 600px) {
            flex-direction: row;
            padding: 15%;
            justify-content: center;
        }

        @media (max-width: 900px) and (min-width: 600px) {
            flex-direction: row;
            gap: 10%;
            padding: 5% 0;
        }
    
            span {
                color: $cor-titulo;
            }

        &:nth-child(3n + 2) {
            border-left: 2px solid $cor-borda-numeros;
            border-right: 2px solid $cor-borda-numeros;

            @media (max-width: 600px) {
                border-left: none;
                border-right: none;
                border-top: 2px solid $cor-borda-numeros;
                border-bottom: 2px solid $cor-borda-numeros;
            }
        }   
    }
}