.numeros {
    padding: 37px 30px;
   
    .numeros-item {
        gap: 37px;
        width: 100%;
        padding: 30px;
        justify-content: center;
        transition: all .3s;

        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 12px 50px 3px rgba(204, 204, 204, 0.1411764706);
        }
    
            span {
                color: $cor-titulo;
            }

        &:nth-child(3n + 2) {
            border-left: 2px solid $cor-borda-numeros;
            border-right: 2px solid $cor-borda-numeros;
        }   
    }
}