.numeros {
    padding: 67px 90px;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;

    .flex {
        gap: 37px;

        span {
            font-weight: 700;
            line-height: 30px;
            color: $cor-titulo;
        }

        p {
            line-height: 30px;
            color: $cor-texto;
            margin-top: 5px;
        } 

    }

       

}