.planos {
    padding: 80px 0;
    background-image: linear-gradient(to top, #f8f8f800, #F8F8F8); 
    
    .flex-c {
        text-align: center;

        .fs-16 {
            padding: 0 320px 60px;
            color: $cor-titulo;
        }
    }

    .flex {
        align-items: stretch;
        gap: 50px;
        padding: 0 50px;
        
        .planos-quadro {
            border: 2px solid $cor-borda;
            border-radius: 10px;
            background-color: $white;
            transition: all .2s ease-in-out;
            padding: 80px 70px 50px 70px;
            min-width: 330px;

            &:hover {
                border-color: $cor-hover-btn;
                transform: translateY(-5px);
                box-shadow: 1px 14px 20px #f5383838;
            }

            .fs-18 {
                margin: 30px 0;
                color: $cor-titulo;
            }

            .fs-14 {
                margin-bottom: 45px;

                .check {
                    margin: 10px 0;
                    position: relative;
                    padding-left: 30px;
                    text-align: left;

                    &::before {
                        content: url(../images/section4/check.png);
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-45%);
                    }
                }            
            }

            .fs-25 {
                font-weight: 500;
                color: $cor-titulo;

                span {
                    font-weight: 400;
                    color: $cor-texto;
                }
            }
        }
    }

    .flex-c {
        gap: 20px;
        justify-content: space-between;
    }
}
