.testemunhal {
    padding-bottom: 135px;

    @media (max-width: 900px) and (min-width: 600px) {
        margin-top: 50px;
    }
    
    article {
        text-align: center;

        .subtitulo {
            padding: 50px 375px 0px 375px;

            @media (max-width: 600px) {
                padding: 10px 0;
            }

            @media (max-width: 900px) and (min-width: 600px) {
                padding: 10px 0;
            }
        
            @media (max-width: 1210px) and (min-width: 900px) {    
                padding: 10px 0;
            }
        }

        .texto {
            padding: 20px 340px 60px 340px;

            @media (max-width: 600px) {
                padding: 10px 0 30px;
            }

            @media (max-width: 900px) and (min-width: 600px) {
                padding: 10px 0 30px;
            }
        
            @media (max-width: 1210px) and (min-width: 900px) {    
                padding: 10px 0 40px;
            }
        }
    }

    .cards-scrool {
        gap: 50px;
        align-items: stretch;
        padding: 10px 0 20px;
        overflow: auto;
        
        @media (max-width: 600px) {
        flex-direction: row;
        gap: 20px;            
        }

        @media (max-width: 900px) and (min-width: 600px) {
            flex-direction: row; 
            gap: 25px;
        }

        @media (max-width: 1210px) and (min-width: 900px) {    
            gap: 35px;
        }

        &::-webkit-scrollbar {
            background-color: #f5383821;
            width: 15px;
            height: 15px;
            border-radius: 50px;

            @media (max-width: 600px) {    
                height: 2px;
            }

            @media (max-width: 900px) and (min-width: 600px) {
                height: 2px;
            }

            @media (max-width: 1210px) and (min-width: 900px) {    
                height: 12px;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: $cor-hover-btn;
            border-radius: 50px;
        }

        .testemunhal-card {
            border: 2px solid $cor-borda;
            border-radius: 10px;
            flex: 1;
            padding: 30px;
            text-align: left;
            width: 400px;
            min-width: 400px;
            height: 230px;
            transition: all .25s ease-in-out;

            @media (max-width: 600px) {
                width: 350px;
                min-width: 300px;
                height: auto;
                padding: 20px;
            }

            @media (max-width: 900px) and (min-width: 600px) {
                padding: 20px;
            }
    
            &:hover {
                border-color: $cor-hover-btn;
                transform: translateY(-5px);
                box-shadow: 1px 14px 20px #f5383838;
            }

            .card-titulo {

                @media (max-width: 600px) { 
                    flex-direction: row;
                }

                @media (max-width: 900px) and (min-width: 600px) {
                    flex-direction: row;
                }

                .flex {
                    flex-direction: row;
                    gap: 20px;

                    .fs-14 { 
                        line-height: 23px;
                    }

                    @media (max-width: 600px) { 
                        display: flex;
                        flex-direction: row;
                    }
                }
                .nota::after {
                    content: url(../images/section6/estrela.png);
                    padding-left: 8px;
                }
            }

            .fs-16 {
                color: $cor-titulo;
                margin-top: 10px;
            }
        }
    }  
}